@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() ?? String.Empty;
}

<a class="navbar-brand" href="#">15350051</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller=="home"?"active":"")" asp-controller="Home" asp-action="Index">Лб 1</a>
    <a class="nav-item nav-link @(controller=="product"?"active":"")" asp-controller="Product" asp-action="Index">Каталог</a>
    <a class="nav-item nav-link" asp-area="Admin">Администрирование</a>
</div>