@inject IDataService DataService
@implements IDisposable


<h1>Vehicle list</h1>

@if (DataService.VehicleList is null || !DataService.Success)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in DataService.VehicleList!)
			{
				<tr>
					<td>@item.Model</td>
					<td> <button class="btn btn-primary" @onclick="() => VehicleSelected.Invoke(item.Id)">Подробнее</button></td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	protected override void OnInitialized()
	{
		DataService.DataChanged += StateHasChanged;
	}
	public void Dispose()
	{
		DataService.DataChanged -= StateHasChanged;
	}

	[Parameter]
	public Action<Guid> VehicleSelected { get; set; }
}