@using Web_153501_Kiselev.Domain.Entities;
@using Web_153501_Kiselev.Domain.Models;

@model ListModel<Vehicle>

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    ViewData["Title"] = "Index";

    IEnumerable<VehicleType> vehicleTypes = ViewData["typeList"] as IEnumerable<VehicleType>;

    int prevPage = (Model.CurrentPage == 1) ? 1 : Model.CurrentPage - 1;
    int nextPage = (Model.CurrentPage == Model.TotalPages) ? Model.TotalPages : Model.CurrentPage + 1;
}

<div class="col-2 border-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> Выбрать тип транспортного средства</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Vehicle" asp-action="Index" asp-route-type=@null>Все</a>
                </li>
                @foreach (var item in vehicleTypes)
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Vehicle" asp-action="Index" asp-route-type="@item.NormalizedName" data-current-type=@item.Name> @item.Name </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>

<h1>Наш автопарк</h1>

@{
    await Html.RenderPartialAsync("_VehicleListPartial", new
    {
        Items = Model.Items,
        CurrentType = @ViewData["currentType"],
        ReturnUrl = returnUrl,
        CurrentPage = Model.CurrentPage,
        TotalPages = Model.TotalPages
    });
}

